<?xml version="1.0"?>
<config>
    <modules>
        <SSS_CategoryAttribute>
            <version>0.0.2</version>
        </SSS_CategoryAttribute>
    </modules>
    <global>
        <blocks>
            <SSSWidget>
                <class>SSS_CategoryAttribute_Block</class>
            </SSSWidget>
        </blocks>
        <helpers>
            <SSSWidget>
                <class>SSS_CategoryAttribute_Helper</class>
            </SSSWidget>
        </helpers>
        <resources>
            <km_category_attribute>
                <setup>
                    <module>SSS_CategoryAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </km_category_attribute>
            <km_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </km_category_attribute_write>
            <km_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </km_category_attribute_read>
        </resources>
    </global>
</config>