<?xml version="1.0"?>
<config>
    <modules>
        <Kinex_CategoryAttribute>
            <version>0.0.2</version>
        </Kinex_CategoryAttribute>
    </modules>
    <global>
        <blocks>
            <KinexWidget>
                <class>Kinex_CategoryAttribute_Block</class>
            </KinexWidget>
        </blocks>
        <helpers>
            <KinexWidget>
                <class>Kinex_CategoryAttribute_Helper</class>
            </KinexWidget>
        </helpers>
        <resources>
            <km_category_attribute>
                <setup>
                    <module>Kinex_CategoryAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </km_category_attribute>
            <km_category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </km_category_attribute_write>
            <km_category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </km_category_attribute_read>
        </resources>
    </global>
</config>