<?xml version="1.0"?>
<config>
    <modules>
        <SSS_Custom>
            <version>0.0.1</version>
        </SSS_Custom>
    </modules>
    <global>
        <blocks>
            <SSSWidget>
                <class>SSS_Custom_Block</class>
            </SSSWidget>
        </blocks>
        <helpers>
            <SSSWidget>
                <class>SSS_Custom_Helper</class>
            </SSSWidget>
        </helpers>
    </global>
</config>