<?xml version="1.0"?>
<config>
    <modules>
        <SSS_Custom>
            <version>0.0.1</version>
        </SSS_Custom>
    </modules>
    <global>
        <blocks>
            <SSSWidget>
                <class>SSS_Custom_Block</class>
            </SSSWidget>
        </blocks>
        <helpers>
            <SSSWidget>
                <class>SSS_Custom_Helper</class>
            </SSSWidget>
        </helpers>
    </global>
     <frontend>
         <routers>
             <newsletter>
                 <args>
                     <modules>
                         <SSS_Custom before="Mage_Newsletter_SubscriberController">SSS_Custom</SSS_Custom>
                     </modules>
                  </args>
             </newsletter>
         </routers>
     </frontend>
</config>