/* Common styles of menus */
@media (min-width: 1200px){
	.container {
		width: 1140px;
	}
}
#tabs {
	width: 100%;
	border-bottom: solid 1px #CCC;
	padding-right: 2px;
	margin-top: 30px;
}
#tabs:after{
	content: '';
	clear: both;
	display: block;
}
.container-tab{
	display: none;
	padding-top: 15px;
	text-align: left;
}
.additional-section .container-tab:first-of-type{
	display: block;
}
#tabs li {
	float: left;
	width: 33.333%;
	list-style: none;
	outline: none
}
#configurable_swatch_color li a{
	opacity: 0;
}
#tabs li a {
	color: #000;
	display:block; 
	text-decoration:none;
	position: relative;
	text-transform: uppercase;
	font-size: 21px;
}

#tabs li a:not(.inactive):after{
	content: '';
	display: block;
	height: 4px;
	position: absolute;
	background: #674e4a;
	width: 100%;
	bottom: -4px;
	border-radius: 30px;
}
#tabs li a.inactive{
	color:#666666;
	outline:none;
}

#tabs li a:hover, #tabs li a.inactive:hover {
	color: #674e4a;
	outline:none;
}

.dl-menuwrapper {
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
	z-index: 990;
}

.dl-menuwrapper:first-child {
	margin-right: 100px;
}

.dl-menuwrapper button {
	background: none;
	border: none;
	width: 20px;
	margin-top: 11px;
}

.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 12px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;
	outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
	background: none;
}
.is-active .dl-menuwrapper{
	z-index: 970;
}
.dl-menuwrapper li.dl-back > a {
	padding-left: 22px;
	text-align: center;
}
.dl-submenu .close-menu div{
	text-indent: -9999px;
}
.dl-submenu .close-menu:after{
	content: '';
	position: absolute;
	background: url(../images/close.png);
	display: block;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	top: 5px;
	right: -3px;
	text-align: center;
	cursor: pointer;
}
.dl-back{
	text-transform: capitalize;
}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 50%;
	line-height: 50px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f054";
	margin-top: -8px;
} 

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
	display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	left: 0;
	margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut1 0.4s;
	animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
	-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
	animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
	-webkit-animation: MenuAnimOut3 0.4s ease;
	animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
	-webkit-animation: MenuAnimOut4 0.4s ease;
	animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
	-webkit-animation: MenuAnimOut5 0.4s ease;
	animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn1 0.3s;
	animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
	-webkit-animation: MenuAnimIn3 0.4s ease;
	animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
	-webkit-animation: MenuAnimIn4 0.4s ease;
	animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
	-webkit-animation: MenuAnimIn5 0.4s ease;
	animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn1 0.4s ease;
	animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
	-webkit-animation: SubMenuAnimIn3 0.4s ease;
	animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
	-webkit-animation: SubMenuAnimIn4 0.4s ease;
	animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
	-webkit-animation: SubMenuAnimIn5 0.4s ease;
	animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut1 0.4s ease;
	animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
	-webkit-animation: SubMenuAnimOut3 0.4s ease;
	animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
	-webkit-animation: SubMenuAnimOut4 0.4s ease;
	animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
	-webkit-animation: SubMenuAnimOut5 0.4s ease;
	animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
	background: #c62860;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
	background: #9e1847;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
	background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
	background: #D35400;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
	background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
	background: #00b4ae;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
	background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
	background: #79a002;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
	background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
	background: #643771;
}



.dl-menuwrapper li a{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #e0e0e0;
}
.demo-1 .dl-menuwrapper ul{
	background: #fff;
}
.dl-menuwrapper .dl-menu{
	border: 1px solid #808080;
	position: fixed;
	background: #fff;
	top: 0;
}
#flag-container{
	background: #fff;
	max-width: 240px;
	width: 100%;
	border: 1px solid #808080;
	padding: 20px 15px
}
#flag-container .simplePopupClose:hover{
	opacity: 0.8;
}
#flag-container .simplePopupClose{
	position: absolute;
	top: 3px;
	right: 7px;
	text-indent: -9999px;
	height: 25px;
	width: 25px;
	overflow: hidden;
	top: 7px;
	right: 0px;
	cursor: pointer;
}
#flag-container .simplePopupClose:before{
	content: '';
	display: block;
	
	background: url(../images/close.png);
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
	
	text-align: center;
	cursor: pointer;
}
.form-language label{
	margin-bottom: 8px;
}
.form-language{
	display: block;
}

/*Extra */
.sub-menu-header {
	background: #808080;
	min-height: 52px;
	padding: 6px 10px;
}
.pull-left {
	float: left !important;
}
.profile-text-wrap {
	line-height: 1.4;
	color: #fff;
	padding-left: 10px;
}
.profile-image {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: #fff;
}
.no-touch .dl-menuwrapper .profile-text-wrap li a:hover{
	background: none;
}
.dl-menuwrapper .profile-text-wrap a:hover{
	background: none;
}
.dl-menuwrapper .profile-text-wrap a{
	padding: 0;
	background: none;
	display: inline;
	color: #fff;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.dl-menuwrapper .dl-menu.dl-menuopen{
	overflow-y: auto;
	/*height: 100vh;*/
	width: 240px;
}
#dl-menu{
	position: absolute;
}
.header .flag_list{
	max-width: 25px;
	display: inline-block;
	position: absolute;
	top: 30px;
}
.selectric-wrapper .label{
	text-align: left;
}
.selectric-wrapper .label span {
	width: 28px;
	height: 15px;
	display: inline-block;
	background-size: contain;
	margin-right: 7px;
	margin-top: -3px;
	vertical-align: middle;
}
.selectric-items ul li span {
	height: 15px;
	width: 28px;
	display: inline-block;
	background-size: contain;
	object-fit: none;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 4px;
}

.header .dl-menuwrapper .flag_list {
	position: static;
	top: 0;
	padding: 0;
	display: inline-block;
	margin: 13px 0 8px;
}

.header .dl-menuwrapper .flag_list img {
	height: 15px;
	width: 45px;
}

.header .dl-menuwrapper .flag_list a {
	padding: 0;
}
.sub-menu-header .close-menu{
	right: 10px;
	top: 11px;
	position: absolute;
	cursor: pointer;
}
.dl-submenu .close-menu{
	position: absolute;
	right: 7px;
	top: 12px;
	z-index: 99;
	height: 30px;
	width: 30px;
	text-align: center;
}
#flag-container.simplePopup{
	z-index: 9999;
}
.dl-menu>li.active>a{
	color: #d0d0d0;
}
.custome-search-active{
	z-index: 0 !important;
}
@media (max-width: 767px){
	#fme_layered_container{
		margin-left: -10px;
		margin-right: -10px;
	}
	.header .flag_list,.product-title-wrap{
		display: none;
	}
}
/*Collection page*/
#fme_filters_list .color{
	margin-bottom: 0;
}
.fme_layered_dt .color{
	margin-bottom: 0;
}
.price-container{
	display: none;

}
#fme_layered_product_type .color span{
	vertical-align: top;
}
.block-title{
	text-align: center;
	color: #000;
}
@media (max-width: 767px){
	
	body #fme_filters_list{
		position: fixed;
		top: 50%;
		right: 15px;
		left: 15px;
		bottom: 0;
		z-index: 9999;
		background: #fff;
		max-width: 340px;
		margin: 0 auto;
		overflow-y: auto;
		height: 373px;
		margin-top: -170px;
	}
	.catalog-category-view .breadcrumbs-wrap{
		margin-bottom: 0;
	}
	.block-title{
		margin-bottom: 15px;
	}
	.block-title img{
		max-width: 36px;
		margin-right: 9px;
	}
	.mobile-element img{
		max-width: 33px;
	}
	.mobile-element{
		text-transform: uppercase;
		font-weight: 600;
		color: #000;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (min-width: 768px){
	#fme_filters_list{
		border-top: 0 !important;
	}
	.mobile-element{
		display: none;
	}
	.block-title{
		display: none;
	}
}

/*New Product Page*/

.product-grid .owl-dots{
	background: #e2d4d1;
	text-align: center;
}
.owl-dots .owl-dot span {
	height: 10px;
	width: 10px;
	display: inline-block;
	background: transparent;
	border: 1px solid #b29289;
	margin: 0 2px;
	border-radius: 50%;

}
.owl-dots .owl-dot.active span {
	background: #b29289;
}
.product-title-wrap{
	padding: 5px 5px;
	position: relative;
}
.product-title-wrap .subheading{
	color: #808080;
	font-weight: normal;
}
.product-wrap{
	margin-top: 40px;
}

.product-wrap #thumbnail-gallery .grid-item{
	width: 100%;
	padding-top: 0;
}
.heading-1{
	color: #000;
	text-transform: uppercase;
}
.heading-2,.heading-1{
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 5px;
}
.color-switcher ul li:after{
	content: '';
	display: block;
	z-index: -1;
	position: absolute;
	top: -3px;
	left: -3px;
	height: 28px;
	width: 28px;
	border: 1px solid #000;
	border-radius: 50%;
}
.color-switcher ul{
	margin-top: 5px;
	line-height: 1;
}
.color-switcher ul li{
	display: inline-block;
	vertical-align: middle;
	background: #000;
	border-radius: 50%;
	position: relative;
	margin: 0 6px;
}
.product-widget-carousel .owl-dots{
	display: none;
}
.pb-1 {
	margin-bottom: 17px;
}
.add-to-cart-wrap .add-to-cart.btn:focus{
	color: #fff; 
}
.add-to-cart-wrap .add-to-cart.btn:hover{
	background: #4a322e;
	color: #fff; 
}
.add-to-cart-wrap .add-to-cart{
	background: #674e4a;
	color: #fff;
}
.add-to-cart-wrap{
	margin-top: 20px;
	margin-bottom: 20px;
}
.add-to-cart.btn:hover{
	color: #000;
}
.add-to-cart.btn{
	border: 1px solid #808080;
	padding: 8px 30px;
	font-size: 20px;
	width: 90%;
	font-weight: 300;
}

.add-to-cart{
	background: #d0d0d0;
}
.shipping-information li:before{
	content: '';
	position: absolute;
	left: 0;
	background: url('../images/shipping-icon.jpg');
	height: 20px;
	width: 20px;
	top: 3px;
	background-size: contain;
}
.shipping-information li{
	position: relative;
	padding-left: 30px;
	line-height: 1.2;
}
.shipping-information span{
	color: #000;
}
.shipping-information{
	margin-left: 15px;
	margin-right: 15px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #808080;
}

.product-detail h5{
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 15px;
}
.product-detail .icon-info img{
	margin-bottom: 10px;
}
.additional-section{

}
.other-detail{
	text-align: left;
}
.icon-info .span{
	font-size: 14px;
}
.icon-info .heading-1{
	font-size: 18px;
}
.other-detail{
	color: #808080
}
.other-detail span{
	color: #000;
}
.product-options select{
	padding: 6px 7px;
}
.product-detail .icon-info .heading-1{
	text-transform: capitalize;
}
.product-detail .icon-info span{
	font-size: 18px;
	color: #000;
	line-height: 1.4;
}
.additional-section:before,.product-detail:before,.product-detail:after,.shipping-information:before{
	content: '';
	display: block;
	margin: 40px auto 30px;
	border-top: 1px solid #674e4a;
	max-width: 550px;
}
.product-detail:before{
	margin-bottom: 40px;
	margin-top: 20px;
}
.desktop-price{
	display: none;
}
.product-options label{
	font-weight: normal;
}
@media (max-width: 767px){
	.additional-section:before, 
	.product-detail:before, 
	.product-detail:after, 
	.shipping-information:before{
		margin: 10px auto 10px;
	}
	.shipping-information li{
		margin-bottom: 10px;
	}
	.shipping-information li:last-child{
		margin-bottom: 0;
	}
	.product-detail .icon-info:nth-of-type(2) img {
		height: 60px;
	}
	#tabs,.container-tab{
		display: none !important;
		
	}
	
	.product-detail h5{
		font-size: 21px;
		margin-top: 25px;
	}
	.product-detail{
		padding-left: 14px;
		padding-right: 14px;
	}
	.product-detail .icon-info{
		margin-bottom: 20px;
	}
	.product-detail .icon-info:last-of-type{
		margin-bottom: 0;
	}
	.product-detail .icon-info img{
		height: 50px;
	}
	.product-detail:before{
		margin-top: 0;
	}
	.product-right-wrap{
		text-align: center;
	}
	.product-wrap{
		margin-top: 0;
	}
	.product-wrap .product-title{
		font-size: 18px;
	}
	.product-wrap .subheading{
		font-weight: normal;
		margin-bottom: 10px;
	}
	.product-right-wrap{
		margin-top: 10px;
	}
	.color-switcher ul li{
		height: 33px;
		width: 33px;
	}
	.color-switcher ul li:after{
		height: 39px;
		width: 39px;
	}
	.heading-2, .heading-1,.product-options label{
		font-size: 21px;
	}
}
@media (min-width: 768px){
	#color_label{
		margin-bottom: 10px;
	}
	.product-options label {
		font-weight: normal;
		font-size: 18px;
		color: #000;
		text-transform: uppercase;
	}
	.mobile-row{
		display: none;
	}
	.mobile-display{
		display: none;
		
	}
	.product-right-wrap{
		padding: 0 40px;	
	}
	.product-right-wrap .product-title{
		font-size: 23px;
		padding-right: 215px;
	}
	.product-detail h5{
		font-size: 23px;
	}
	.price-amount{
		display: none;
	}
	.desktop-price{
		width: 200px;
		text-align: right;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	#product_mainslider{
		padding: 0 40px;
	}
	.product-title-wrap{
		padding: 0 0 20px;
	}
	.color-switcher ul li:after{
		height: 40px;
		width: 40px;
	}
	.color-switcher ul li{
		height: 34px;
		width: 34px;
	}
	.product-detail .icon-info{
		float: left;
		width: 33.33%;
		padding-right: 15px;
	}
	.shipping-information{
		margin-top: 15px;
		border-top: none;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 57px;
		padding-right: 57px;
	}
	.shipping-information:after,.product-detail:after, .additional-section:after{
		content: '';
		display: table;
		clear: both;
	}
	.shipping-information li{
		display: inline-block;
		float: left;
		width: 33.33%;
		padding-right: 15px;
	}
	.add-to-cart.btn{
		border: 1px solid #808080;
		padding: 8px 30px;
		font-size: 20px;
		max-width: 320px;
		line-height: 1.4;
	}
	.add-to-cart-wrap{
		text-align: center;
	}
}